{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/compiler_style.css' %}">

    <link rel="stylesheet" href= 
        "//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
      
    <link rel="stylesheet" href= 
        "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">     

    <link href='https://fonts.googleapis.com/css?family=Lato|Roboto:400,900' rel='stylesheet' type='text/css'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">    

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">        

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

    <script src= 
        "https://code.jquery.com/jquery-1.12.4.js"> 
    </script> 
      
    <script src= 
        "https://code.jquery.com/ui/1.12.1/jquery-ui.js"> 
    </script> 


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src =  
        "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"> 
    </script> 

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    

    <script src="https://kit.fontawesome.com/b3c82137d2.js" crossorigin="anonymous"></script>


    <title>        
        {% block title %}
            Online-Compiler
        {% endblock %}            
    </title>

</head>

{% load custom_filters %}

{% load widget_tweaks %}

<body>

    <script>
        function openNav() {
          if ( document.getElementById("mySidenav").style.width == "" || document.getElementById("mainLogin").style.marginLeft == "" ) {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("mainLogin").style.marginLeft = "250px";          
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
          }
          else {
            document.getElementById("mySidenav").style.width = "";
            document.getElementById("mainLogin").style.marginLeft = "";          
            document.body.style.backgroundColor = "white";
          }          
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("mainLogin").style.marginLeft= "0";
          document.body.style.backgroundColor = "white";
        }

        function openNavSignUp() {
            if ( document.getElementById("mySidenavSignUp").style.width == "" || document.getElementById("mainSignUp").style.marginRight == "" ) {
                //console.log(document.getElementById("mySidenavSignUp").style.width);
                document.getElementById("mySidenavSignUp").style.width = "250px";
                document.getElementById("mainSignUp").style.marginRight = "250px";
                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }
            else  {
                //console.log(document.getElementById("mySidenavSignUp").style.width);
                document.getElementById("mySidenavSignUp").style.width = "";
                document.getElementById("mainSignUp").style.marginRight = "";
                document.body.style.backgroundColor = "white";
            }
          }
          
          function closeNavSignUp() {
            document.getElementById("mySidenavSignUp").style.width = "0";
            document.getElementById("mainSignUp").style.marginRight = "0";
            document.body.style.backgroundColor = "white";
          }

          function authen_Upload() {              
            {% if not user.is_authenticated  %}
                alert("To Upload A File, You Need To Login First !!");
            {% else %}
                document.getElementById("myform").submit();   
                /*var SelectedFile = document.getElementById("ChooseFile").value;   // to get the name of the file which is selected by the user to be uploaded.                 
                var SelectedFile_Ext = SelectedFile.slice(-2);
                alert(SelectedFile);            
                alert(document.getElementById("lang").value);
                alert(SelectedFile_Ext);
                if( SelectedFile_Ext == 'va' ) {
                    document.getElementById("lang").value = "Python";
                }*/                                
            {% endif %}
          }                                        
          
          function login_refresh() {            
            //document.getElementById('LoginForm').submit();                                              
            setTimeout(function(){ location.href = "http://127.0.0.1:8080/"; }, 5000);
          }

          

          function login_refresh2() {
            document.getElementById('LoginForm').submit();                         
            //$("#staticBackdrop2").modal();
            //setTimeout(function(){ $("#staticBackdrop2").modal("show"); }, 300);                                                                                                
          }  
          
            /*  Close alert "Fade-out" effect  */
          setTimeout(function(){ $("#alert").fadeOut("slow"); }, 2500);                                                  
                    
    </script> 


<div id="mainLogin">

    <div id="mainSignUp">   
        
    <div id="header">                           
        
    <span style="float: left; margin-left: 12px; font-family: cursive;"> 

        <img src="{% static 'img/code3.jpg' %}" alt="Logo" height="30px" width="30px" style="margin-bottom: 3px;">

        Online Compiler  
    </span>

    <span style="float: left; margin-left: 20px;">                    
        <a class="btn  btn-success btn-sm" href="{% url 'home' %}" title="Home/Refresh"> Home </a> &nbsp;
    </span>
    {% if user.is_authenticated %}                                        
        <span style="float: left;">                    
            <a class="btn btn-danger btn-sm" href="{% url 'logout' %}" title="Log out From Your Account."> Logout </a> 
              <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-sm" style="margin-left: 8px;" title="Access Your Saved/Uploaded Files." data-toggle="modal" data-target="#staticBackdrop">
                My Codes
            </button> &nbsp;
        </span>
    {% else %}
        <span style="float: left;">
            <button class="btn  btn-warning btn-sm" style="margin-right: 10px;" onclick="openNav()" title="Login To Get More Features!"> Login </button> 
            <button class="btn  btn-danger btn-sm" style="margin-right: 10px;" onclick="openNavSignUp()" title="Sign Up To Become A Memeber !"> SignUp </button> 
        </span>
    {% endif %}


    


    <form action="" method="POST" enctype="multipart/form-data" style="float: right; margin-left: 0px;" id="myform" novalidate>

        <span style="color: yellow; margin-left: 0px;"> Hello {% if user.is_authenticated %}  {{ user|first_letter_capital }} {% else %} Coder {% endif %} ! </span>

        {% csrf_token %}        
        <!-- {#% render_field upload.codefile class="btn btn-success btn-sm" onchange="this.form.submit()" %#}  ## To submit or post "Uploaded File" without 'Submit' Button add [ onclick="this.form.submit()" ] in  -->
        {% render_field upload.codefile class="btn btn-success btn-sm" id="ChooseFile" style="margin-bottom: 4px;" %}                
        <button type="button" class="btn btn-dark btn-sm" onclick="authen_Upload()" onsubmit="afterloading()" title="Upload CodeFile To Your Cloud Space." style="margin-bottom: 4px;"> Upload </button> &nbsp;

        <!-- <input type="submit" value="Upload" class="btn btn-dark btn-sm" onclick="TextAreaValue()"> -->
        <!-- <input type="submit" value="Upload" class="btn btn-dark btn-sm">  -->
                    
    <!-- <br>
    <div style="float: right; color: red; font-size: 15px; margin-right: 23px;">
        {#% if messages %#}                    
            {#% for message in messages  %#}
                <strong> {{ message }} </strong> 
                <div class="alert alert-warning alert-dismissible fade show" role="alert" style="height: 50px; margin-top: 20px; margin-right: 500px; font-size: medium;">
                    <a href="{% url 'home' %}"> <strong> {{ message }} </strong> </a>                        
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span> 
                    </button> 
                </div>
            {#% endfor %#}                                    
        {#% endif %#}
    </div> -->

    </form>
    
    </div>              

    {% if messages %}                    
        {% for message in messages  %}            
            <!-- <div class="alert" id="alert" style="margin-top: 0px; margin-bottom: 0; margin-right: 500px; font-size: large;">
                <strong> {{ message }} </strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span> 
                </button> 
            </div> -->

            <div id="alert">
                <a class="alert" class="close" data-dismiss="alert" aria-label="Close"> <strong style="font-size: large; color: white;">{{ message }}</strong> </a>
            </div>
        {% endfor %}                                    
    {% endif %}

    <br>

            <!-- Side Bar Menu For "LOGIN" (Below "div") -->
    
    {% if not user.is_authenticated %}            
        
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> <br>           
        <h3 style="margin-left: 58px; color: #5cb85c;"> <i><u>Log in Here</u></i> </h3> <br>
        <form action="" method="POST" id="LoginForm" style="color: white; padding: 25px;">

            {% csrf_token %}
    
            <label for="fnm">Username:</label>
            <input type="text" id="fnm" name="uname" class="form-control col-12">
            
            <label for="pwd">Password:</label>
            <input type="password" id="pwd" name="pwd" class="form-control col-12"><br>
                        
            <!-- <input type="submit" value="Login" class="btn btn-success btn-md rainbow rainbow-2" style="margin-left: 55px; font-family: 'Nunito', sans-serif;"> -->
            <div class="containr">
                <!-- <button type="button" class="btn btn-outline-success mybtn" style="margin-left: 0px;" onclick="document.getElementById('LoginForm').submit();" data-toggle="modal" data-target="#staticBackdrop2"> Login </button> -->
                <!-- <button type="button" class="btn btn-primary btn-sm" style="margin-left: 8px;" data-toggle="modal" data-target="#staticBackdrop"></button> -->
                <button type="button" class="btn btn-outline-success mybtn" style="margin-left: 0px; border-radius: 25px;" onclick="login_refresh2()"> Login </button>
            </div>
    
        </form>            
    </div>    



            <!-- Side Bar Menu For "SIGN-UP" (Below "div") -->

    <div id="mySidenavSignUp" class="sidenavSignUp">
        <a href="javascript:void(0)" class="closebtnSignUp" onclick="closeNavSignUp()">&times;</a> <br>           
        <h3 style="margin-left: 40px; color: #0275d8;"> <i><u>Sign-Up Here</u></i> </h3>
        <form action="" method="POST" id="SignUpForm" style="color: white; padding: 25px;">

            {% csrf_token %}
    
            <label for="fname">Username:</label><br>
            <input type="text" id="fname" name="username" class="form-control col-12">

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" class="form-control col-12">

            <label for="pwd1">Password:</label><br>
            <input type="password" id="pwd1" name="password1" class="form-control col-12">

            <label for="pwd2">Confirm Password:</label><br>
            <input type="password" id="pwd2" name="password2" class="form-control col-12"><br>

            <!-- <input type="submit" value="Register"class="btn btn-outline-primary" style="margin-left: 50px;"> -->
            <div class="containr">
                <button type="button" class="btn btn-outline-primary mybtn" style="margin-left: 0px;  border-radius: 25px;" onclick="document.getElementById('SignUpForm').submit()"> Sign Up </button>
            </div>

        </form>        
    </div>
    {% endif %}

    
    <!-- <div id="mainLogin">

        <div id="mainSignUp"> -->
                    
        {% block code %}

        <form action="" method="POST" id="CodeArea" style="margin-left: 190px;" novalidate>

            {% csrf_token %}
            <div style="margin-left: 400px;" class="codeinp">
                <!-- {{ form.as_p }} -->
                <label for="lang"> <strong>Choose Programming Language:</strong> </label> 
                {% render_field form.prog_lang id="lang" class="form-control col-2"  %}
                <br>                
                
                {% if user_code %}

                    <label for="myarea"> <strong>Enter Your Code Here:</strong> </label> 
                    <textarea name="code" id="myarea" class="form-control col-4" rows="7"> {{ user_code }} </textarea>

                {#% elif file_code %#}
                {% elif request.session.file_code %}

                    <label for="myarea"> <strong>Enter Your Code Here:</strong> </label> 
                    <!-- <textarea name="code" id="myarea" class="form-control col-4" rows="7"> {{ file_code }} </textarea> -->
                    <textarea name="code" id="myarea" class="form-control col-4" rows="7"> {{ request.session.file_code }} </textarea>

                {% else %}
                    
                    <label for="myarea"> <strong>Enter Your Code Here:</strong> </label> <br>
                    {% render_field form.code id="myarea" %}

                {% endif %}                                

                <!-- <strong> {{ iform.as_p }} </strong> -->
                <label for="inp" style="font-family: cursive;"> <strong>Inputs(if any):</strong> </label>
                {% render_field iform.inputs id="inp" class="form-control col-4" rows="4" %}
                <br>

                <!-- <input type="submit" class="btn btn-info" value="Execute" id="submit"> -->
                
                {% if user.is_authenticated %}
                    <!-- <button type="button" id="execute" class="btn btn-warning" onclick="submit_code()"> -->
                    <button type="button" id="execute" class="btn btn-warning">
                        <i class="fas fa-cogs fa-lg"></i>&nbsp; Execute
                    </button>
                {% else %}
                    <!-- <button type="button" id="execute" class="btn btn-info" style="margin-left: 5px; width: 305px;" onclick="$('#CodeArea').submit();"> -->
                    <button type="button" id="execute" class="btn btn-info" style="margin-left: 5px; width: 305px;" onclick="submit_code()">
                        <i class="fas fa-cogs fa-lg"></i>&nbsp; Execute
                    </button>    
                {% endif %}   
                
                
                <script>
                    $(document).ready(function() {
                        $("#execute").click(function() {
                          // disable button
                          $(this).prop("disabled", true);
                          // add spinner to button
                          $(this).html('<span class="spinner-border spinner-border-sm" style="color: black;" role="status" aria-hidden="true"></span> <span style="color: black;"> Loading... </span>');
                    
                          setTimeout(function(){ document.getElementByID('CodeArea').submit(); }, 5000);
                        });
                    });
                </script>
                

                
                {% if user.is_authenticated %}                
                    
                    <!-- Button trigger modal -->
                    <button type="button" id="save" class="btn btn-primary" data-target="#exampleModal">
                        Save As File
                    </button>

                    <!-- <button class="btn btn-info">
                        Save
                    </button> -->

                {% endif %}   
                
                
                <!-- <button type="button" onclick="toogleResults()" style="color: black; font-size: xx-large; float: right; margin-right: 10px;" class="btn btn-info"> <b>&#8686;</b> </button> -->


                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel" style="font-family: cursive;"> Save File As... </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                            <div class="modal-body">
                                
                                <label for="filename"> Enter File Name: </label>
                                {% render_field form.filename id="filename" placeholder="@e.g., hello.py or Hello.java " class="form-control col-6" %}

                            </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" id="filesave" value="Save & Execute" class="btn btn-primary">                        
                        <!-- <button type="button" id="filesave" onclick="rload()" class="btn btn-primary"> Save & Execute </button> -->
                        </div>
                    </div>
                    </div>
                </div>


                <script>

                    function toogleResults() {       
                        //console.log($("#tres_btn").css("padding-left"));
                        if( $("#tres_btn").css("color") == "rgb(0, 0, 0)" ) {                            
                            $("#tres_btn").css("color", "white");
                            $("#tres_btn").css("transform", "rotate(180deg)");
                        }                        
                        if( $("#tres_btn").css("color") == "rgb(255, 255, 255)" ) {
                            //alert("Hellooo");                            
                            $("#tres_btn").css("color", "black");
                            $("#tres_btn").css("transform", "rotate(0deg)");
                        }
                        
                        $("#CodeArea").slideToggle(600);                                                                                                                    
                    }                       

                    /*$(document).ready(function () {
                        $('textarea').change(function () {
                            $(this).val($(this).val().replace(/\n{3,}/g, "\r\n"));
                        });
                    });

                    function TextAreaValue() {
                        document.getElementById("myform").submit();
                        document.getElementById("myarea").defaultValue = "Hello Guys!";
                    }

                    function checking() {
                        var textBox =  $.trim( $('input[type=text]').val() )
                        if (textBox == "") {
                            $("#error").show('slow');
                        }
                    }*/

                    function executeCode() {
                        /*alert("I'm Javascript in jQuery!!");*/
                        document.getElementById("CodeArea").submit();
                    }

                    $(document).ready(function() {          
                    $('#execute').click(function() {
                        if (!$('#myarea').val()) {
                            alert('You need to write some code to proceed !!');                            
                        }
                        else {
                            /*alert('Else Working !!');*/
                            //executeCode();   
                            document.getElementById("filename").value = '';
                            $("#CodeArea").submit();
                        }
                    })
                    });

                    $(document).ready(function() {
                        $('#save').click(function() {
                          var value = document.getElementById('myarea').value;
                          if (value === '') {
                            alert('To create file, you need to write some code to save in it !!');                               
                          }
                          else {
                            $('#exampleModal').modal('show');                                                
                          }
                        })
                    });

                    $(document).ready(function() {
                        $('#filesave').click(function() {
                          var value = document.getElementById('myarea').value;
                          if (value === '') {
                            alert('To create new file, you need to write some code to in it !!');
                            //alert = function(){};
                          }                          
                        })
                    });

                    function copycode() {
                        document.getElementById("myarea").value = "{{ file.codefile.url }}";
                    }

                    //function submit_code() {
                        //document.getElementById("CodeArea").submit();
                    //}

                    /*$(document).on("click", function(e) {
                        if (e.target === document || e.target.tagName === "BODY" || e.target.tagName === "HTML") {
                            alert("Worked!!");
                        }
                    });*/   /*for getting blank clicks*/ 
                    
                    
                    //To reload window :-
                        //window.location.reload();

                    /*function rload() {
                        window.location.reload();
                    }*/
                        
                </script>

            </div>

        </form>

        {% endblock code %}

        <hr>
        <!-- <center><p style="width: 100%; color: black; background-color: blue; padding: 0px;"> &darr; </p></center> -->


        <div class="container">

            <div onclick="toogleResults()" style="float: left; margin-top: 0; margin-left: 20px;">
                {% block compile %}
                <strong id="cmp" style="cursor: pointer;"> Compilation &colon; </strong>
                <div
                    style="border: 2px solid red; width: 450px; height: 290px; background-color: lightblue; padding-left: 15px; padding-top: 10px;"  class="myBox">

                    {% if compile %}

                        {% if compile|check_type %}

                            {% for cp in compile %}
                                <span id="cmp_res">{{ cp|check_dir_address }}</span> <br>                                
                            {% endfor %}

                        {% else %}

                            <span id="cmp_res">{{ compile }}</span>

                        {% endif %}

                    {% endif %}

                </div>
                {% endblock compile %}
            </div>


            <div onclick="toogleResults()" style="float: right; margin-top: 0; margin-bottom: 150px; margin-right: 20px;">
                {% block result %}
                <strong id="oupt" style="cursor: pointer;" onclick="slideCom_put()"> Output &colon; </strong>
                <div
                    style="border: 2px solid red; width: 450px; height: 290px; background-color: lightblue; padding-left: 15px; padding-top: 10px;"  class="myBox">

                    {% if output %}

                        {% if output|check_type %}

                            {% for out in output %}                            
                                <span id="exe_res">{{ out }}</span> <br>                                
                            {% endfor %}

                        {% else %}

                            <span id="exe_res"></span>{{ output }}

                        {% endif %}

                    {% endif %}

                </div>
                {% endblock result %}

            </div>
        
    </div>    
    
</div>

        <!--   ############   Toogle Results Button   ###################   -->
    <button type="button" id="tres_btn" onclick="toogleResults()" style="color: black; border: 2px solid black; black; font-size: xx-large; margin-left: 60px; padding-top: 4px; padding-bottom: 4px; padding-left: 20px; padding-right: 20px;" class="btn btn-success btn-md" title="Slide Toogle For Results &uarr;&uarr;">
        <p id="upArrow" style="transform: rotate(90deg); margin-left: 5px; margin-bottom: 0px;"><b>&laquo;</b></p>            
    </button>        



  <!-- Modal For (Login-Refresh-On-Confirm) -->
<div class="modal fade" id="staticBackdrop2" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel2">Welcome To Online Compiler</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            You Are Successfully Logged In!!
        </div>
        <div class="modal-footer">
          <button type="button" style="margin-right: 200px;" class="btn btn-success" onclick="login_refresh()"><strong>Close</strong></button>          
        </div>
      </div>
    </div>
  </div>

        

  
  <!-- Modal For (User Code Files) -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Hey {{ user|first_letter_capital }}&comma; Your Code Tresure Is Listed Below...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <!-- <section> -->
                <div class="header">
                    <table class="table table-bordered table-fixed">
                        <thead>
                        <tr>
                            <th style="margin-left: 250px; margin-right: 195px; margin-top: 7px; margin-bottom: 7px;"> Code Files </th>                            
                            <th style="margin-left: 150px; margin-right: 150px; margin-top: 7px; margin-bottom: 7px;"> Details </th>                
                        </tr>
                        </thead>
                    </table>        
                </div>
            
                <div class="content">  
                {#% if user.is_authenticated %#}                  
                {#% if file_code %#}
                {% if user_files %}                                                                                        
                    <table class="table table-borderless table-hover">
                        <tbody>
                            {% for file in user_files reversed %}                        
                            <tr>
                                <td style="float: left; padding-left: 14px; padding-top: 16px; padding-bottom: 17px;">                                    

                                    <button type="button" class="btn btn-warning btn-md" style="color: black; width: 20px; border-radius: 15px;" data-toggle="tooltip" data-placement="top" title="Created on {{ file.date }} at {{ file.time }}">
                                        {{ file.codefile.url|remove_file_address }} <br>
                                    </button>                                    

                                </td>
            
                                <td style="float: right; padding-left: 15px; padding-right: 20px; padding-top: 11px; padding-bottom: 11px;">
                                    
                                    <!-- <button type="button" class="btn btn-primary" onclick="copycode()" data-dismiss="modal">
                                        <strong>Copy To Code Area</strong>
                                    </button>           -->
                                    
                                    
                                    {#% if file_code %#}
                                        <!-- <a href="{#% url 'get_code' file.id %#}" class="btn btn-primary btn-sm"> Copy To CodeArea </a> -->
                                    {#% endif %#}                                                                            

                                    <form action="" method="POST" novalidate>
                                         {% csrf_token %}
                                        <input type="hidden" name="fcode" id="fc" value="{{ file.id }}">
                                        <input type="submit" class="btn btn-primary btn-sm" value="Copy Text To CodeArea">
                                    </form>

                                </td>
                            </tr> 
                        {% endfor %}                                            
                        </tbody>     

                {% else %}
                        
                        <br> <br> <br> <br> <br>
                    <div style="margin-left: 150px;"> 
                        <span> <strong>No Files Created Yet!!</strong> </span> <br> <br>
                        <button type="button" style="margin-left: 23px; border-radius: 10px;" class="btn btn-primary btn-md" data-dismiss="modal"><strong>Code Now!!</strong></button>          
                    </div>

                {% endif %}         
                {#% endif %#}                                                                                                                                                                                              
                {#% endif %#}                                                                                                                                                                                              
                    </table>
                </div>
            <!-- </section> -->
                                                
        </div>
        <div class="modal-footer">
          <button type="button" style="margin-right: 200px;" class="btn btn-success" data-dismiss="modal"><strong>Close</strong></button>          
        </div>
      </div>
    </div>
  </div>


</body>

</html>